<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>IONIC - TECSUL</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let p of pages">
          <button menuClose ion-item (click)="openPage(p)" *ngIf="podeVisualizarPagina(p)">
            <ion-icon [name]="p.iconName" item-start></ion-icon>
            {{p.title}}
          </button>
      </ng-container>
      <button menuClose ion-item (click)="acessar()" *ngIf="!usuarioConectado()">
        <ion-icon name="log-in" item-start></ion-icon>
        Acessar sua conta
      </button>
      <button menuClose ion-item (click)="desconectar()" *ngIf="usuarioConectado()">
        <ion-icon name="log-out" item-start></ion-icon>
        Desconectar-se
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>